.links a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 20px;
    margin-bottom: 20px;
}

.links a:hover {
    text-decoration: none;
}

.center {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 95vw;
    justify-content: center;
    align-items: center;
}

.links button {
    background-color: #dfd9d9;
    width: 200px;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
}

.links button:focus {
    outline: transparent;
}

.links {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .center h1 {
        font-size: 30px;
    }
    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}